body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.hover-slider-nav{
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgba(0,0,0,0.4);
}


.hover-slider-nav__item
{
    z-index: 2;
    padding: 2vh;
    font-size: 8vh;
    font-family: bold;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: .2s;
}

.hover-slider-nav__item--active
{
    color: rgba(255, 255, 255, 1);
}

.hover-slider
{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    background-color: black;
}
.hover-slider__item{
    position: absolute;
    top: -2vh;
    left: -2vw;
    width: 104vw;
    height: 104vh;
    opacity: 0;
    transition: .2s;
    transform: translateY(-2vh);
}

.hover-slider__item--active{
    opacity: 1;
    transform: translateY(0);
}


hover-slider__item-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}







