.weekly-header[data-v-43893710] {
    position: relative;
    overflow: hidden
}

.weekly-header__background[data-v-43893710] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 250%;
    filter: blur(15px) opacity(40%)
}

.weekly-header__container[data-v-43893710] {
    position: relative;
    display: flex
}

@media (max-width:767px) {
    .weekly-header__container[data-v-43893710] {
        flex-direction: column
    }
}

.weekly-header .info[data-v-43893710] {
    padding: 60px 60px 60px 0;
    flex: 1 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

@media (max-width:1199px) {
    .weekly-header .info[data-v-43893710] {
        padding: 40px 40px 40px 0
    }
}

@media (max-width:767px) {
    .weekly-header .info[data-v-43893710] {
        padding-right: 0;
        flex-basis: auto
    }
}

.weekly-header .info-top[data-v-43893710] {
    position: relative
}

.weekly-header .info__title[data-v-43893710] {
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700
}

@media (max-width:1199px) {
    .weekly-header .info__title[data-v-43893710] {
        font-size: 1.25rem;
        line-height: 1.5rem
    }
}

.weekly-header .info-middle[data-v-43893710] {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column
}

@media (max-width:1199px) {
    .weekly-header .info-middle[data-v-43893710] {
        margin-top: 25px;
        margin-bottom: 25px
    }
}

.weekly-header .info-key[data-v-43893710]:not(:first-of-type) {
    margin-top: 30px
}

.weekly-header .info-key__title[data-v-43893710] {
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 10px
}

@media (max-width:1199px) {
    .weekly-header .info-key__title[data-v-43893710] {
        font-size: .75rem
    }
}

.weekly-header .info-key__body[data-v-43893710] {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500
}

@media (max-width:1199px) {
    .weekly-header .info-key__body[data-v-43893710] {
        font-size: .75rem;
        line-height: 1rem
    }
}

.weekly-header .info-bottom[data-v-43893710] {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

@media (max-width:576px) {
    .weekly-header .info-bottom[data-v-43893710] {
        flex-wrap: wrap
    }
}

.weekly-header .info-bottom__action[data-v-43893710] {
    cursor: pointer;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
    transition: all .3s ease
}

.weekly-header .info-bottom__action[data-v-43893710]:hover {
    color: #fff
}

.weekly-header .info-socials__title[data-v-43893710] {
    text-transform: uppercase;
    font-size: .625rem;
    font-weight: 700
}

.weekly-header .info-socials-items[data-v-43893710] {
    display: flex;
    align-items: center;
    margin-top: 10px
}

.weekly-header .info-socials-item[data-v-43893710] {
    transition: all .3s ease
}

.weekly-header .info-socials-item[data-v-43893710]:hover {
    color: #fff
}

.weekly-header .info-socials-item[data-v-43893710]:not(:first-of-type) {
    margin-left: 20px
}

.weekly-header .info-socials-item__icon[data-v-43893710] {
    font-size: 1rem
}

.weekly-header .cover[data-v-43893710] {
    flex: 1 0 55%
}

@media (max-width:767px) {
    .weekly-header .cover[data-v-43893710] {
        flex-basis: auto
    }
}

.weekly-header .cover__image[data-v-43893710] {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width:767px) {
    .weekly-header .cover__image[data-v-43893710] {
        width: 100%;
        height: auto
    }
}

.skeleton[data-v-5c13ea31] {
    position: relative;
    width: 100%;
    height: calc(100vh - 105px);
    height: calc(var(--vh, 1vh)*100 - 105px - var(--safe-top, 0px));
    background-color: #e0e0e0
}

@media (max-width:1199px) {
    .skeleton[data-v-5c13ea31] {
        height: auto
    }
}

.skeleton .container[data-v-5c13ea31] {
    height: 100%
}

.skeleton__container[data-v-5c13ea31] {
    display: flex;
    height: 100%
}

@media (max-width:767px) {
    .skeleton__container[data-v-5c13ea31] {
        display: block
    }
}

.skeleton .content[data-v-5c13ea31] {
    position: relative;
    flex-basis: 50%;
    height: 100%;
    padding: 60px 60px 60px 15px;
    background-color: #f7f6f6
}

@media (max-width:767px) {
    .skeleton .content[data-v-5c13ea31] {
        width: 100%;
        padding: 40px 15px
    }
}

.skeleton .image[data-v-5c13ea31] {
    flex-basis: 50%;
    height: 100%;
    background-color: #e0e0e0
}

@media (max-width:767px) {
    .skeleton .image[data-v-5c13ea31] {
        width: 100%;
        height: auto;
        padding-top: 100%
    }
}

.skeleton-title[data-v-5c13ea31] {
    margin-bottom: 40px
}

@media (max-width:1199px) {
    .skeleton-title[data-v-5c13ea31] {
        margin-bottom: 25px
    }
}

.skeleton-title__item[data-v-5c13ea31] {
    width: 90%;
    height: 24px;
    border-radius: 12px;
    background-color: #c4c4c4
}

.skeleton-title__item[data-v-5c13ea31]:not(:first-of-type) {
    margin-top: 4px;
    width: 70%
}

.skeleton-key[data-v-5c13ea31]:not(:first-of-type) {
    margin-top: 30px
}

.skeleton-key__title[data-v-5c13ea31] {
    width: 30%;
    height: 14px;
    border-radius: 7px;
    background-color: #c4c4c4;
    margin-bottom: 10px
}

@media (max-width:1199px) {
    .skeleton-key__title[data-v-5c13ea31] {
        height: 12px;
        border-radius: 6px
    }
}

.skeleton-key-excerpt__item[data-v-5c13ea31] {
    width: 95%;
    height: 20px;
    border-radius: 10px;
    background-color: #c4c4c4
}

@media (max-width:1199px) {
    .skeleton-key-excerpt__item[data-v-5c13ea31] {
        height: 16px;
        border-radius: 8px
    }
}

.skeleton-key-excerpt__item[data-v-5c13ea31]:not(:first-of-type) {
    margin-top: 4px;
    width: 55%
}

.skeleton-social[data-v-5c13ea31] {
    position: absolute;
    left: 15px;
    bottom: 60px;
    display: flex
}

.skeleton-social__item[data-v-5c13ea31] {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #c4c4c4
}

.skeleton-social__item[data-v-5c13ea31]:not(:first-of-type) {
    margin-left: 20px
}

@media (max-width:1199px) {
    .skeleton-social[data-v-5c13ea31] {
        position: relative;
        left: auto;
        bottom: auto;
        margin-top: 25px
    }
}

.content__base {
    overflow-x: hidden;
    font-size: 1.125rem;
    line-height: 1.6rem;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 40px
}

.content__base>:not(:first-child) {
    margin-top: 40px !important
}

@media (max-width:1199px) {
    .content__base p {
        font-size: 1rem;
        line-height: 1.4rem
    }
}

.content__base h1,
.content__base h2,
.content__base h3,
.content__base h4,
.content__base h5,
.content__base h6 {
    font-weight: 600
}

.content__base h1 {
    font-size: 1.75rem;
    line-height: 2.6rem
}

@media (max-width:1199px) {
    .content__base h1 {
        font-size: 1.5rem;
        line-height: 2.2rem
    }
}

.content__base h2 {
    font-size: 1.625rem;
    line-height: 2.4rem
}

@media (max-width:1199px) {
    .content__base h2 {
        font-size: 1.375rem;
        line-height: 2rem
    }
}

.content__base h3 {
    font-size: 1.5rem;
    line-height: 2.2rem
}

@media (max-width:1199px) {
    .content__base h3 {
        font-size: 1.25rem;
        line-height: 1.8rem
    }
}

.content__base h4 {
    font-size: 1.375rem;
    line-height: 2rem
}

@media (max-width:1199px) {
    .content__base h4 {
        font-size: 1.125rem;
        line-height: 1.6rem
    }
}

.content__base h5 {
    font-size: 1.25rem;
    line-height: 1.8rem
}

@media (max-width:1199px) {
    .content__base h5 {
        font-size: 1rem;
        line-height: 1.4rem
    }
}

.content__base h6 {
    font-size: 1.125rem;
    line-height: 1.6rem
}

@media (max-width:1199px) {
    .content__base h6 {
        font-size: 1rem;
        line-height: 1.4rem
    }
}

.content__base a {
    text-transform: none;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #06a6a0;
    transition: all .3s ease
}

.content__base a:hover {
    opacity: 1;
    color: #06a6a0
}

.content__base ol,
.content__base ul {
    padding-left: 36px
}

.content__base ol li,
.content__base ul li {
    position: relative;
    list-style: none;
    margin-top: 6px
}

.content__base ol li:before,
.content__base ul li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -26px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #06a6a0
}

.content__base pre {
    font-family: Proxima Nova, Arial, sans-serif;
    font-style: italic
}

.content__base sub,
.content__base sup {
    font-size: .6em
}

.content__base blockquote {
    padding: 8px 0 8px 16px;
    border-left: 4px solid #06a6a0
}

.content__base blockquote cite {
    display: block;
    margin-top: .5rem
}

.content__base .has-text-align-center {
    text-align: center
}

.content__base .has-text-align-right {
    text-align: right
}

.content__base video {
    max-width: 100%
}

.content__base figure img {
    width: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-height: 60vh
}

@media (max-width:576px) {
    .content__base figure img {
        max-height: unset
    }
}

.content__base figure figcaption {
    margin-top: 1rem;
    font-size: 1rem;
    opacity: .5;
    text-align: center
}

.content__base iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}

.content__base .wp-block-embed-youtube.wp-has-aspect-ratio .wp-block-embed__wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 0
}

.content__base .wp-block-embed-youtube.wp-has-aspect-ratio.wp-embed-aspect-4-3 .wp-block-embed__wrapper {
    padding-top: 75%
}

.content__base .wp-block-embed-youtube.wp-has-aspect-ratio.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
    padding-top: 56.25%
}

.content__base .wp-block-embed-youtube.wp-has-aspect-ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.content__base .wp-block-embed-twitter .twitter-tweet {
    margin-left: auto;
    margin-right: auto
}

.content__base .wp-block-embed-spotify iframe {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.content__base .instagram-media {
    margin-left: auto !important;
    margin-right: auto !important
}

.content__base .wp-block-gallery {
    position: relative
}

.content__base .wp-block-gallery .blocks-gallery-grid {
    padding-left: 0
}

.content__base .wp-block-gallery .blocks-gallery-item:before {
    display: none
}

.content__base .wp-block-gallery .blocks-gallery-item img {
    max-height: 50vh;
    width: auto
}

.content__base .wp-block-gallery .blocks-gallery-item__caption {
    text-align: left
}

.content__base .wp-block-gallery .tns-controls * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scaleY(2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    transition: all .3s ease
}

.content__base .wp-block-gallery .tns-controls :hover {
    opacity: .6
}

.content__base .wp-block-gallery .tns-controls [data-controls=prev] {
    left: -25px
}

@media (max-width:576px) {
    .content__base .wp-block-gallery .tns-controls [data-controls=prev] {
        left: 0;
        z-index: 2
    }
}

.content__base .wp-block-gallery .tns-controls [data-controls=next] {
    right: -25px
}

@media (max-width:576px) {
    .content__base .wp-block-gallery .tns-controls [data-controls=next] {
        right: 0;
        z-index: 2
    }
}

.skeleton[data-v-4a5c7e61] {
    position: relative;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px
}

.skeleton-title__item[data-v-4a5c7e61] {
    position: relative;
    width: 90%;
    height: 32px;
    border-radius: 16px;
    background-color: #c4c4c4
}

@media (max-width:1199px) {
    .skeleton-title__item[data-v-4a5c7e61] {
        height: 24px;
        border-radius: 12px
    }
}

.skeleton-title__item[data-v-4a5c7e61]:not(:first-of-type) {
    margin-top: 4px;
    width: 70%
}

.skeleton-excerpt[data-v-4a5c7e61] {
    position: relative;
    margin-top: 40px
}

.skeleton-excerpt__item[data-v-4a5c7e61] {
    position: relative;
    width: 95%;
    height: 24px;
    border-radius: 12px;
    background-color: #c4c4c4
}

@media (max-width:1199px) {
    .skeleton-excerpt__item[data-v-4a5c7e61] {
        height: 20px;
        border-radius: 10px
    }
}

.skeleton-excerpt__item[data-v-4a5c7e61]:not(:first-of-type) {
    margin-top: 4px;
    width: 55%
}

.skeleton__media[data-v-4a5c7e61] {
    position: relative;
    margin-top: 40px;
    width: 100%;
    padding-top: 56.25%;
    background-color: #c4c4c4;
    border-radius: 8px
}

.share[data-v-dd5ed838] {
    padding: 55px 40px 50px;
    background-color: #f7f6f6
}

@media (max-width:767px) {
    .share[data-v-dd5ed838] {
        padding: 35px 40px
    }
}

.share-container[data-v-dd5ed838] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media (max-width:767px) {
    .share-container[data-v-dd5ed838] {
        justify-content: center;
        flex-wrap: wrap
    }
}

.share__text[data-v-dd5ed838] {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 80px
}

@media (max-width:1199px) {
    .share__text[data-v-dd5ed838] {
        font-size: .875rem
    }
}

@media (max-width:767px) {
    .share__text[data-v-dd5ed838] {
        margin-right: 0;
        flex: 1 1 100%;
        text-align: center
    }
}

@media (max-width:360px) {
    .share__text[data-v-dd5ed838] {
        font-size: .75rem
    }
}

.share__text-icon[data-v-dd5ed838] {
    display: none
}

@media (max-width:576px) {
    .share__text-icon[data-v-dd5ed838] {
        display: inline-block;
        margin-left: 8px
    }
}

.share-list[data-v-dd5ed838] {
    display: flex;
    align-items: center
}

@media (max-width:767px) {
    .share-list[data-v-dd5ed838] {
        margin-top: 20px
    }
}

@media (max-width:576px) {
    .share-list[data-v-dd5ed838] {
        display: none
    }
}

.share-list-item[data-v-dd5ed838] {
    cursor: pointer;
    transition: all .3s ease
}

.share-list-item[data-v-dd5ed838]:hover {
    color: #06a6a0
}

.share-list-item[data-v-dd5ed838]:not(:last-of-type) {
    margin-right: 100px
}

@media (max-width:1199px) {
    .share-list-item[data-v-dd5ed838]:not(:last-of-type) {
        margin-right: 40px
    }
}

@media (max-width:767px) {
    .share-list-item[data-v-dd5ed838]:not(:last-of-type) {
        margin-right: 20px
    }
}

@media (max-width:767px) {
    .share-list-item[data-v-dd5ed838]:not(:first-of-type) {
        margin-left: 20px
    }
}

.share-list-item--disabled[data-v-dd5ed838] {
    pointer-events: none
}

.share-list-item__icon[data-v-dd5ed838] {
    height: 20px;
    width: auto
}

@media (max-width:576px) {
    .share-list-item__icon[data-v-dd5ed838] {
        height: 16px
    }
}

.comments[data-v-1cbb6d4e] {
    margin-top: 20px
}

.weekly[data-v-5f9fcdfa] {
    padding-top: 105px;
    padding-top: calc(105px + var(--safe-top, 0px))
}

@media (max-width:576px) {
    .weekly[data-v-5f9fcdfa] {
        padding-top: 75px;
        padding-top: calc(75px + var(--safe-top, 0px))
    }
}

.content__wrapper[data-v-5f9fcdfa] {
    background-color: #f7f6f6
}

.content__wrapper .container[data-v-5f9fcdfa] {
    background-color: #fff
}

.content__wrapper .container .container--content[data-v-5f9fcdfa] {
    max-width: 800px
}

@media (max-width:1479px) {
    .content__wrapper .container .container--content[data-v-5f9fcdfa] {
        max-width: 640px
    }
}

@media (max-width:1199px) {
    .content__wrapper .container .container--content[data-v-5f9fcdfa] {
        max-width: 420px
    }
}

@media (max-width:767px) {
    .content__wrapper .container .container--content[data-v-5f9fcdfa] {
        max-width: 380px
    }
}

@media (max-width:576px) {
    .content__wrapper .container .container--content[data-v-5f9fcdfa] {
        max-width: 100%;
        padding: 0
    }
}

.search__container[data-v-5f9fcdfa] {
    padding-top: 20px
}